html
{
  height: 100%;
}
body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

header
{
  padding: 0 1em;
  background-color: #003594;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1
{
    margin: 0;
    font-size: 300%;

}
header h1 span
{
    color: #FFC72C;
}
button#navbut
{
  width: 10%;
  height: 30%;
}
button#log
{
 
  border:none; 
  border-radius:10px; 
  box-shadow: 0px 0px 2px 2px rgb(0,0,0); 
  color: #FFC72C;
  background-color: #003594;
  width: 10%;
  height: 5%;
}
body#loginbody
{
  background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    display: block;
}
#form
{ 
  display: inline;
  text-align: center;
  margin: 0;
  padding: 0 16px;
}

.container
{
  display: flex;
  align-items: center;
  justify-content: center;

}
.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#map
{
  height: 50%;
  width:100%;

}
/* styles for mobile protrait screen */
@media only screen and (max-width:480px)
{

  header {font-size: 10px;}
  header {height: 8em;}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* styles for tablet portrait and mobile landscape screens */
@media only screen and (min-width: 481px) and (max-width: 768px)
{
  header {font-size: 10px;}
  header {height: 9em;}
}
