/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200:400:700&display=swap');*/
.card-img-top{
	width: 15vh;
	height: 15vh;
}
.card-footer{
	background-color: transparent;
}

.card{
	height: 50vh;
}

.cards{

    transition: all 0.2s ease;
    cursor: pointer;
    

 }
    


.cards:hover{

    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}

body{
	background-image: url("../../images/bgrnd.jpg");
}
@media screen and (max-width: 997px) {

	.lead{
		font-size: 17px;
	}

  .card-img-top{
	width: 10vh;
	height: 10vh;
  }
}
@media screen and (max-width: 765px) {

	.lead{
		font-size: 14px;
	}

  .card-img-top{
	width: 10vh;
	height: 10vh;
  }
}
@media screen and (max-width: 1400px) {

	.lead{
		font-size: 14px;
	}

  .card-img-top{
	width: 10vh;
	height: 10vh;
  }
}