#allergy-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*The whole list that contains the allergies*/
#allergy-list li {
  margin-bottom: 10px;
}

#allergy-list li button {
  display: block;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border-color: black;
  color: #333;
  text-decoration: none;
  width: 22vh;
}

#allergy-list li button:hover {
  background-color: lightskyblue;
  color: black;
}

#hisBtn {
  background-color: transparent;
  border-color: red;
  border-radius: 50px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  float: left;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#hisBtn:hover {
  background-color: red;
  color: white;
}


#medBtn {
  background-color: transparent;
  border-color: #FDB913;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  float: left;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;
}

#medBtn:hover {
  background-color: #FDB913;
  color: white;
}

/*#profBtn {
  background-color: transparent;
  border-color: black;
  border-radius: 50px;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;
}

.btn-contain{
  display: flex;
  flex-direction: column;
  align-items: center; 

}

#profBtn:hover {
  background-color: black;
  color: white;
}*/


.btn-group{
  display: flex;
  flex-direction: column;
  align-items: center; 


}

#myButton.clicked {
  background-color: lightskyblue;
  color: black;
  border-color: #e1e3e2;

}

h1 {
  color: black;
  text-align: center;
}

/*.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}*/

h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: darkblue;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  text-align: center;
}


/*.contain-bkg {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  border: solid;
  background-color: white;
  padding: 10px;
  border-color: darkblue;
  height: 60%;

}*/

/*Med probs gets used to add medical problems*/
#med-probs {
  list-style: none;
  padding: 0;
  margin: 0;
}

#med-probs li {
  margin-bottom: 10px;
}

#med-probs li button {
  display: block;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border-color: black;
  color: #333;
  text-decoration: none;
  width: 22vh;
}

#med-probs li button:hover {
  background-color: green;
  color: #fff;
}

/*Med-list gets used to style the current medications*/
#med-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

#med-list li {
  margin-bottom: 10px;
}

#med-list li button {
  display: block;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border-color: black;
  color: #333;
  text-decoration: none;
  width: 22vh;
}

#med-list li button:hover {
  background-color: green;
  color: #fff;
}
.overflow-scroll{
  max-height: 40%;
  margin-top: 90%;


}
#style-7::-webkit-scrollbar-track
{
  visibility: hidden;

}

#style-7::-webkit-scrollbar
{
  visibility: hidden;

}
#style-7::-webkit-scrollbar-thumb
{

  visibility: hidden;

}

@media(max-width: 980px) {
/* add medical history */
  #med-probs li button {
    width: 95%;
  }
/*add current medications*/
  #med-list li button {
    width: 95%;
  }
/*add allergies*/
  #allergy-list li button {
    width: 95%;
  }
}
