html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
}

/*************** BEGINNING OF FORM STYLING*******************/

#form{ 
  display: inline;
  text-align: center;
  margin: 0;
  padding: 0 16px;
}

/*************** END OF FORM STYLING*******************/

/************** BEGINNING OF MAP STYLING ***************/
#map{
  height: 50%;
  width:100%;
}
.control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.control-button:hover {
  background: rgb(235, 235, 235);
}

/*************** END OF MAP STYLING*******************/

/*************** BEGINNING OF PROFILE STYLING*******************/

.Profile
{
  min-height: 100vh ; /*vh is = to 1% of the height of the viewport*/
  background-color: #818181;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Profile .userform{
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: #111;
  text-align: center;
  width: 700px;
  border-radius: 5px;
}
.Profile .userform img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}
.Profile .userform .flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 15px;
}
.Profile .userform .flex .inputBox{
  width:49%;
}
.Profile .userform .flex .inputBox span{
  text-align: left;
  display: block;
  margin-top: 15px;
  font-size: 17px;
  color: #111;
}
.Profile .userform .flex .inputBox .box{
  width: 90%;
  border-radius: 5px;
  background-color: #818181;
  padding: 12px 14px;
  font-size: 17px;
  margin-top: 10px;
  color: #111;
}

/*************** END OF PROFILE STYLING*******************/

/* styles for mobile protrait screen */
@media only screen and (max-width:480px){
  header {font-size: 10px;}
  header {height: 8em;}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* styles for tablet portrait and mobile landscape screens */
@media only screen and (min-width: 481px) and (max-width: 768px){
  header {font-size: 10px;}
  header {height: 9em;}
}

@media (max-width:650px){
  .Profile .userform .flex{
    flex-wrap: wrap;
    gap:0;
  }
  .Profile .userform .flex .inputBox{
    width: 100%;
  }
}
