
.rcorners
{
  border-radius: 10px;
  border: 2px solid #3154A3;
  padding: 5px; 
  height: 25px;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  /*padding: 15px;*/
  text-align: center;
}


label {
  display: inline-block;
  width: 140px;
  text-align: Left;
}

.containerx {
  position: fixed;
  left: 1%;
  top: 15%;
  height: 50%;
  width:  50%;
}

.c2 {
  position: fixed;
  left: 70%;
  top: 15%;
  height: 74%;
  width:  27%;
}
