
.rcorners
{
  border-radius: 10px;
  border: 2px solid black;
  border-color: black;
  padding: 5px; 
  height: 25px;
}


.c3 {
  border-radius: 5px;
  background-color: grey;
  text-align: center;
  margin-left: 5vh;
  margin-top: 5vh;
}

.plc {
  border-radius: 5px;
  background-color: grey;
  text-align: right;



}


label {
  display: inline-block;
  width: 140px;
  text-align: Left;
}

.container {
  position: fixed;
  left: 1%;
  top: 20%;
  height: 50%;
  width:  50%;
}

.c2 {
  position: fixed;
  left: 60%;
  top: 20%;
  height: 10%;
  width:  27%;
  background-color: #f2f2f2;
}


/* https://dev.to/dawnind/3-ways-to-display-two-divs-side-by-side-3d8b */
.flex-parent-element {
  display: flex;
  width: 50%;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}
